<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Notifications>
    <MessageFrom>info@rusleg.ru</MessageFrom>
    <MessageTo>79111393577@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[ул. Гузовского, дом.1]]></what>
      <by><![CDATA[ул. Карла Маркса, дом 47]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[улица Гузовского, д.1]]></what>
      <by><![CDATA[ул. Карла Маркса, дом 47]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[8 8352 380016, 8 8352 222 849, 8 927 668 00 16]]></what>
      <by><![CDATA[8-927-667-87-55, (8352) 37-87-55]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[8 919 652 90 09]]></what>
      <by><![CDATA[8 927 667 87 55]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[8 927 844 15 55]]></what>
      <by><![CDATA[(8352) 37-87-55]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[8 8352 38 00 16]]></what>
      <by><![CDATA[]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[<ul class="topsocial">]]></what>
      <by><![CDATA[<ul class="topsocial" style="display: none;">]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[<div class="bx-yandex-view-layout">]]></what>
      <by><![CDATA[<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=C5L1E3aohG3lw5EzZtPNXCAnqL4dL_gi&amp;width=100%&amp;height=350&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script><div class="bx-yandex-view-layout" style="display: none;">]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[<div class="topsitesearch">]]></what>
      <by><![CDATA[<div class="topsitesearch" style="display: none;">]]></by>
    </Replacement>


    <Replacement target="all">
      <what><![CDATA[<script type='text/javascript'>
(function(){ var widget_id = 'LbXriSfs1c';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>]]></what>
      <by><![CDATA[<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'HgdxRRnXXR';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->]]></by>
    </Replacement>

  </ReplacementModel>
</Configuration>