<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Notifications>
    <MessageFrom>info@oknarasko.ru</MessageFrom>
    <MessageTo>7608787@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[Kaleva]]></what>
      <by><![CDATA[Rehau]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[kaleva]]></what>
      <by><![CDATA[rehau]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[Калева]]></what>
      <by><![CDATA[Rehau]]></by>
	</Replacement>
	<Replacement target="all">
      <what><![CDATA[ОКНА МСК]]></what>
      <by><![CDATA[Раско]]></by>
    </Replacement>

	  
	  
	
	  
	<Replacement target="all">
      <what><![CDATA[+7 (495) 105-92-12]]></what>
      <by><![CDATA[8 (495) 369-14-10]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[4951059212]]></what>
      <by><![CDATA[4953691410]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[+7 (499) 213-30-90]]></what>
      <by><![CDATA[8 (495) 369-14-10]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[74992133090]]></what>
      <by><![CDATA[4953691410]]></by>
    </Replacement>

	  
	<Replacement target="all">
      <what><![CDATA[21:00]]></what>
      <by><![CDATA[22:00]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[2012–2016]]></what>
      <by><![CDATA[1995–2016]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[<div class="footer-social">]]></what>
      <by><![CDATA[<div class="footer-social" style="display:none;">]]></by>
    </Replacement>
	  
	  
	  
	  
	<Replacement target="all">
      <what><![CDATA[30 июня]]></what>
      <by><![CDATA[конца месяца]]></by>
    </Replacement>
	  
	<Replacement target="all">
      <what><![CDATA[<span class="auto-date"]]></what>
      <by><![CDATA[конца месяца<span class="auto-date" style="display:none;"]]></by>
    </Replacement>
	  
	
	  
	<Replacement target="all">
      <what><![CDATA[<div>
		 <iframe width="681" height="384" src="https://www.youtube.com/embed/JAS7w3lEx9Q"]]></what>
      <by><![CDATA[<div style="display:none;">
		 <iframe width="681" height="384" src="https://www.youtube.com/embed/JAS7w3lEx9Q"]]></by>
    </Replacement>
	   

	 
	  
    <Replacement target="all">
      <what><![CDATA[В период летней жары, особенно тяжело переносимой в городских условиях, окна Vita помогают создавать в Вашем доме комфортную температуру: стеклопакет с аргоном и энергосберегающим i-стеклом препятствует проникновению уличного зноя и сохраняет в доме приятную прохладу.]]></what>
      <by><![CDATA[В период летней жары, особенно тяжело переносимой в городских условиях, окна Blitz помогают создавать в Вашем доме комфортную температуру: стеклопакет с аргоном и энергосберегающим i-стеклом препятствует проникновению уличного зноя и сохраняет в доме приятную прохладу.]]></by>
    </Replacement>
	    <Replacement target="all">
      <what><![CDATA[В летний период окно Standart помогает создавать в Вашем доме комфортную температуру. Аргоновое наполнение стеклопакета окна Standart препятствует теплообмену между домом и улицей. Энергосберегающее i-стекло отражает тепловые волны – оно препятствует проникновению уличной жары и сохраняет в доме приятную прохладу.]]></what>
      <by><![CDATA[В летний период окно Sib помогает создавать в Вашем доме комфортную температуру. Энергосберегающее i-стекло отражает тепловые волны – оно препятствует проникновению уличной жары и сохраняет в доме приятную прохладу.]]></by>
    </Replacement>
	    <Replacement target="all">
      <what><![CDATA[В летний период окно Design помогает создавать в Вашем доме комфортную температуру. Аргоновое наполнение стеклопакета окна Design препятствует теплообмену между домом и улицей. Энерго- сберегающее i-стекло отражает тепловые волны – оно препятствует проникновению уличнойжары и сохраняет в доме приятную прохладу.]]></what>
      <by><![CDATA[В летний период окно Delight помогает создавать в Вашем доме комфортную температуру. Энерго- сберегающее i-стекло отражает тепловые волны – оно препятствует проникновению уличнойжары и сохраняет в доме приятную прохладу.]]></by>
    </Replacement>
	  
	  
	<Replacement target="all">
      <what><![CDATA[Простое и надежное окно Standart — для достойного комфортав условиях российского климата. Окно Vita безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.]]></what>
      <by><![CDATA[Простое и надежное окно Blitz — для достойного комфортав условиях российского климата. Окно Blitz безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<span class="assortment__title">Vita.
						<span>Больше энергии жизни</span></span>
                        <p>С окнами Vita в вашем доме станет теплей и светлей,
а, значит, будет больше жизненной энергии и бодрого настроения. Окно Vita безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.</p>]]></what>
      <by><![CDATA[<span class="assortment__title">Sib.
						<span>Больше энергии жизни</span></span>
                        <p>С окнами Sib в вашем доме станет теплей и светлей,
а, значит, будет больше жизненной энергии и бодрого настроения. Окно Sib безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.</p>]]></by>
    </Replacement>  
	<Replacement target="all">
      <what><![CDATA[<span class="assortment__title">Design.
						<span>Индивидуальность <br />во всем</span></span>
                        <p>С окнами Vita в вашем доме станет теплей и светлей,
а, значит, будет больше жизненной энергии и бодрого настроения. Окно Vita безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.</p>]]></what>
      <by><![CDATA[<span class="assortment__title">Delight.
						<span>Индивидуальность <br />во всем</span></span>
                        <p>С окнами Delight в вашем доме станет теплей и светлей,
а, значит, будет больше жизненной энергии и бодрого настроения. Окно Delight безупречно служит на протяжении долгих десятилетий благодаря высокому запасу прочности: число циклов «открывание-закрывание» этой модели — 80 000.</p>]]></by>
    </Replacement> 
	  
	  
	<Replacement target="all">
      <what><![CDATA[стеклопакет с аргоном и энергосберегающим]]></what>
      <by><![CDATA[стеклопакет с энергосберегающим]]></by>
    </Replacement>  
	<Replacement target="all">
      <what><![CDATA[Standart]]></what>
      <by><![CDATA[Blitz]]></by>
    </Replacement> 
	<Replacement target="all">
      <what><![CDATA[Vita]]></what>
      <by><![CDATA[Sib]]></by>
    </Replacement> 
	<Replacement target="all">
      <what><![CDATA[Design]]></what>
      <by><![CDATA[Delight]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[<li><a href="/products/designplus/">DelightPlus</a></li>
		
			<li><a href="/products/deco/">Deco</a></li>
		
			<li><a href="/products/titan/">Titan</a></li>
		
			<li><a href="/products/titan-plus/">Titan Plus</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>  
    <Replacement target="all">
      <what><![CDATA[<a href="/products/titan-plus/" class="arr_left"></a>]]></what>
      <by><![CDATA[<a href="/products/design/" class="arr_left"></a>]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[<a href="/products/designplus/" class="arr_right"></a>]]></what>
      <by><![CDATA[<a href="/products/standart/" class="arr_right"></a>]]></by>
    </Replacement>  
    <Replacement target="all">
      <what><![CDATA[<!-- ares-slider__item -->
			<div class="ares-slider__item installation__item">
				<div class="ares-slider__wind">
 <a href="/products/standart/">
					<div class="ares-slider__img">
 <img alt="rehau standart" src="/bitrix/templates/main/pic/wind1.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind11.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind1.jpg'; this.classList.remove('hover-change');">
					</div>
 </a>
					<h3>Rehau Blitz</h3>
					<p>
						 Стандартный профиль от 3 750 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/design/">
					<div class="ares-slider__img">
 <img alt="rehau design" src="/bitrix/templates/main/pic/wind2.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind22.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind2.jpg'; this.classList.remove('hover-change');">
					</div>
 </a>
					<h3>Rehau Delight </h3>
					<p>
						 Премиальный профиль от 4 400 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/deco/">
					<div class="ares-slider__img">
 <img alt="rehau Deco" src="/bitrix/templates/main/pic/wind3.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind33.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind3.jpg'; this.classList.remove('hover-change');">&gt;
					</div>
 </a>
					<h3>Rehau Deco</h3>
					<p>
						 Премиальный профиль от 5 580 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
			</div>
			 <!-- /ares-slider__item --> <!-- ares-slider__item -->
			<div class="ares-slider__item installation__item">
				<div class="ares-slider__wind">
 <a href="/products/vita/">
					<div class="ares-slider__img">
 <img alt="Rehau Sib" src="/bitrix/templates/main/pic/wind4.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind44.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind4.jpg'; this.classList.remove('hover-change');">&gt;
					</div>
 </a>
					<h3>Rehau Sib</h3>
					<p>
						 Стандартный профиль от 3 900 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/designplus/">
					<div class="ares-slider__img">
 <img alt="Rehau Titan" src="/bitrix/templates/main/pic/wind6.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind55.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind6.jpg'; this.classList.remove('hover-change');">&gt;
					</div>
 </a>
					<h3>Rehau Delight Plus</h3>
					<p>
						 Премиальный профиль от 6 400 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/titan/">
					<div class="ares-slider__img">
 <img alt="Rehau Delight Plus" src="/bitrix/templates/main/pic/wind5.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind66.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind5.jpg'; this.classList.remove('hover-change');">&gt;
					</div>
 </a>
					<h3>Rehau Titan</h3>
					<p>
						 Премиальный профиль от 7 680 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
			</div>
			 <!-- /ares-slider__item -->]]></what>
      <by><![CDATA[<!-- ares-slider__item -->
			<div class="ares-slider__item installation__item">
				<div class="ares-slider__wind">
 <a href="/products/standart/">
					<div class="ares-slider__img">
 <img alt="rehau standart" src="/bitrix/templates/main/pic/wind1.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind11.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind1.jpg'; this.classList.remove('hover-change');">
					</div>
 </a>
					<h3>Rehau Blitz</h3>
					<p>
						 Стандартный профиль от 3 750 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/design/">
					<div class="ares-slider__img">
 <img alt="rehau design" src="/bitrix/templates/main/pic/wind2.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind22.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind2.jpg'; this.classList.remove('hover-change');">
					</div>
 </a>
					<h3>Rehau Delight </h3>
					<p>
						 Премиальный профиль от 4 400 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
				<div class="ares-slider__wind">
 <a href="/products/vita/">
					<div class="ares-slider__img">
 <img alt="Rehau Sib" src="/bitrix/templates/main/pic/wind4.jpg" onmouseover="this.src='/bitrix/templates/main/pic/wind44.jpg'; this.classList.add('hover-change');" onmouseout="this.src='/bitrix/templates/main/pic/wind4.jpg'; this.classList.remove('hover-change');">&gt;
					</div>
 </a>
					<h3>Rehau Sib</h3>
					<p>
						 Стандартный профиль от 3 900 руб
					</p>
					<form action="#">
						 <a href="#orderto" class="btn fancybox">Рассчитать</a>					</form>
				</div>
			</div>
			 <!-- /ares-slider__item -->]]></by>
    </Replacement>
	  
	
	  
	  
	  
	  
    <Replacement target="all">
      <what><![CDATA[<h2 class="contacts__subtitle">Центральные офисы</h2>]]></what>
      <by><![CDATA[]]></by>
    </Replacement> 
	<Replacement target="all">
      <what><![CDATA[<div class="contacts__map"]]></what>
      <by><![CDATA[<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=HlxutaRW_ZtBpvYzbubTFV56lyTWxq8k&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true"></script><div class="contacts__map" style="display:none;"]]></by>
    </Replacement>
	<Replacement target="all">
      <what><![CDATA[<ul class="slider__points"]]></what>
      <by><![CDATA[<ul class="slider__points" style="display:none;">]]></by>
    </Replacement>
	
	  
	  
	  
	  
	  
	<Replacement target="all">
      <what><![CDATA[<div class="slider">
	 <!-- slider__wrap -->
	<div class="slider__wrap">
		 <!-- slider__item -->
		<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Семеновская&quot;, &quot;text&quot;:&quot;ул. Щербаковская д.3 офис 1206&quot; }">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис на Семеновской</h2>
				<dl>
					<dt>Общественным транспортом:</dt>
					<dd>После выхода из метро пройдите прямо 200м и поверните налево, двигайтесь вдоль ТЦ “Семеновский”, наш офис находится в следующем здании.</dd>
					<dt>На машине:</dt>
					<dd>Двигайтесь по ул. Щербаковской в сторону центра до пересечения с ул. Вельяминовской,припарковаться вы можете на территории ТЦ “Семеновский”.</dd>
				</dl>
				<ul>
					<li style="margin-bottom: 16px;">
					Адрес ул. Щербаковская д.3 <br>
					 12 этаж, офис 1206 </li>
					<li style="margin-bottom: 16px;">Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-20:00 Сб.-Вс.: 10:00-18:00</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont1.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div>
		 <!-- /slider__item --> <!-- slider__item -->
		<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Крылатское&quot;, &quot;text&quot;:&quot;Рублевское шоссе, д.48/1&quot; }">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис Крылатское</h2>
				<dl>
					<dt>Общественным транспортом:</dt>
					<dd>м.Крылатское, последний вагон из центра. По ул. Осенний бульвар в сторону Рублевского шоссе, 5 мин. пешком. ТЦ “Рублевский”, вход со стороны Рублевского шоссе, через “Микрохирургию глаза”, 3 этаж.</dd>
					<dt>На машине:</dt>
					<dd>Двигаясь по дублеру Рублевского шоссе в сторону МКАДа поверните направо, съезд на парковку ТЦ “Рублевский”.</dd>
				</dl>
				<ul>
					<li style="margin-bottom: 7px;">
					Адрес Рублевское шоссе, <br>
					 д.48/1 </li>
					<li style="margin-bottom: 7px;">Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-20:00 Сб.-Вс.: 10:00-18:00</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont2.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div>
		 <!-- /slider__item --> <!-- slider__item -->
		<!--<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Кунцевская&quot;, &quot;text&quot;:&quot;Можайское ш. 25&quot; }">

			<div class="contact__card">
				<h2>Офис на Кунцевской</h2>
				<dl style="margin-bottom: 15px;">
					<dt>Общественным транспортом:</dt>
					<dd>Остановка "Ул. Петра Алексеева". От м. "Славянский бульвар" автобусом:103, 157, 157к, 205, 231, 818, 840. Маршрутки: 1009, 10м, 139, 523, 523м, 560м, 753м. От м. "Кунцевская" автобусом: 190, 45, 610, 612, 867, офис на другой стороне остановки.</dd>
					<dt>На машине:</dt>
					<dd>Двигайтесь по дублеру Можайского шоссе в сторону центра, после пересечения с ул. Рябиновая поверните направо на парковку перед зданием или налево на парковку перед эстакадой. </dd>
				</dl>
				<ul>
					<li style="margin-bottom: 7px;">
					Адрес Можайское ш. 25, оф. 308 <br>
					(вход с торца здания) </li>
					<li style="margin-bottom: 7px;">Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-20:00 Сб.-Вс.: 10:00-18:00</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont3.jpg" height="406" alt="">
			</div>
			 
		</div>-->
		 <!-- /slider__item --> <!-- slider__item -->
		<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Черемушки&quot;, &quot;text&quot;:&quot;ул. Гарибальди д.29к.4&quot; }">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис в Черемушках</h2>
				<dl>
					<dt>Общественным транспортом:</dt>
					<dd>Метро "Новые Черемушки" последний вагон из центра, из вестибюля направо, далее вниз по улице Гарибальди, дом 29 корпус 4, здание супермаркета "Алми", второй этаж, офис Rehau</dd>
					<dt>На машине:</dt>
					<dd>Двигайтесь по ул. Гарибальди в сторону ул. Профсоюзной, до двухэтажного здания супермаркета "Алми", перед которым будет парковка.</dd>
				</dl>
				<ul>
					<li style="margin-bottom: 33px;">
					Адрес ул. Гарибальди д.29к.4 </li>
					<li style="margin-bottom: 33px;">Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-19:00 Сб.-Вс.: 10:00-18:00 Вс.: выходной</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont4.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div>
		 <!-- /slider__item --> <!-- slider__item -->
		<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Полежаевская&quot;, &quot;text&quot;:&quot;ул. Гризодубовой д.2 офис 4&quot; }">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис на Полежаевской</h2>
				<dl style="margin-bottom: 22px;">
					<dt>Общественным транспортом:</dt>
					<dd>От м. Полежаевская маршрутка №18м до остановки ул.Гризодубовой д.1 или пешком вдоль 4-ой Магистральной улицы мимо магазина “Магнолия”, пересекаем ул. Полины Осипенко и далее выходим на ул. Гризодубовой. </dd>
					<dt>На машине:</dt>
					<dd>Двигайтесь по ул. Авиаконструктора Сухого в сторону пр. Березовая роща до многоэтажного овального здания с правой стороны, парковка </dd>
				</dl>
				<ul>
					<li style="margin-bottom: 17px;">
					Адрес ул. Гризодубовой д.2 <br>
					офис 4 </li>
					<li style="margin-bottom: 17px;">Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-19:00 Сб.-Вс.: 10:00-18:00 Вс.: выходной</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont5.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div>
		 <!-- /slider__item --> <!-- slider__item -->
		<div class="slider__item" data-point="{ &quot;title&quot;: &quot;Водный стадион&quot;, &quot;text&quot;:&quot; Крондштатский б-р д.9 стр. 3, павильон И-4, ТЦ «Кронпарк»&quot; }">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис на м. Водный стадион</h2>
				<dl>
					<dt>Общественным транспортом:</dt>
					<dd>Первый вагон из центра, далее налево до вывески “Кронпарк” (стройдвор).</dd>
					<dt>На машине:</dt>
					<dd>Двигайтесь по Кроштадскому бульвару в сторону Ленинградского шоссе до ТК “КронПарк”, поверните направо под шлагбаум на парковку (2 часа бесплатно).</dd>
				</dl>
				<ul>
					<li style="margin-bottom: 34px;">
					Адрес Крондштатский б-р <br>
					 д.9 стр. 3, павильон <br>
					И-4, ТЦ «Кронпарк» </li>
					<li>Телефон <span class="call_phone_1">+7 (495) 105 92 12</span> </li>
					<li>
					Время работы <i>Пн.-Пт.: 10:00-20:00 Сб.-Вс.: 10:00-18:00</i> </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont6.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div>
		 <!-- /slider__item -->
	</div>
	 <!-- /slider__wrap -->
</div>]]></what>
      <by><![CDATA[<div class="slider_">
	 <!-- slider__wrap -->
	<div class="slider__wrap">
		 <!-- slider__item -->
		<div class="slider__item" >
			 <!-- contact__card -->
			<div class="contact__card"><div class="slider__item">
			 <!-- contact__card -->
			<div class="contact__card">
				<h2>Офис Дубровка</h2>
				<ul>
					<li style="margin-bottom: 7px;">
					Адрес<br> Дубровка, Угрешская, <br>
					 д. 14 стр. 1 </li>
					<li style="margin-bottom: 7px;">Телефон <span class="call_phone_1">8 (495) 369-14-10</span> </li>
					<li>
					Время работы<br> 09:00-22:00<br>без выходных </li>
					<li>
					Принимаются к оплате <img width="106" src="/bitrix/templates/main/pic/contacts__card.png" height="32" alt=""> </li>
				</ul>
 <img width="617" src="/bitrix/templates/main/pic/cont2.jpg" height="406" alt="">
			</div>
			 <!-- /contact__card -->
		</div></div>
		 <!-- /slider__item -->
	</div>
	 <!-- /slider__wrap -->
</div>]]></by>
    </Replacement>  
	  
 
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	 <Replacement target="all">
      <what><![CDATA[<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {/*Здесь параметры визита*/};
</script>

<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter30355287 = new Ya.Metrika({id:30355287,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/30355287" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->]]></what>
      <by><![CDATA[<!-- Yandex.Metrika counter NEW -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38176290 = new Ya.Metrika({
                    id:38176290,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38176290" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->]]></by>
    </Replacement> 
	  
	<Replacement target="all">
      <what><![CDATA[<!--Openstat-->
<span id="openstat1"></span>
<script type="text/javascript">
var openstat = { counter: 1, next: openstat, track_links: "all" };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->]]></what>
      <by><![CDATA[]]></by>
	  </Replacement>
			
			
    <Replacement target="all">
      <what><![CDATA[<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57140410-1', 'auto');
  ga('send', 'pageview');

</script>]]></what>
      <by><![CDATA[]]></by>
	</Replacement>			
	  
	  
	<Replacement target="all">
      <what><![CDATA[<img src="/bitrix/templates/main/img/logo.png" width="124" height="42"]]></what>
      <by><![CDATA[<img src="/bitrix/templates/main/img/logo.png" height="52"]]></by>
    </Replacement>
	  
	<Replacement target="all">
      <what><![CDATA[<img src="/bitrix/templates/main/img/logo2.png" width="124" height="42"]]></what>
      <by><![CDATA[<img src="/bitrix/templates/main/img/logo2.png" height="52"]]></by>
    </Replacement>
	  
  </ReplacementModel>
</Configuration>