<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Locked>False</Locked>
  <Notifications>
    <MessageFrom>info@раки-живые-оптом.рф</MessageFrom>
    <MessageTo>optrak@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>


    <Replacement target="all">
      <what><![CDATA[<li><a href="#team">Сотрудники</a></li>]]></what>
      <by><![CDATA[<li><a href="#tabs">Доставка</a></li>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<span class="phone-primary">]]></what>
      <by><![CDATA[<span class="phone-primary" style="font-size:36px; padding:5px 0 0 50px; font-weight: bold; color: #db3a36;">]]></by>
    </Replacement>
    
    <Replacement target="all">
      <what><![CDATA[<ul class="nav navbar-nav">]]></what>
      <by><![CDATA[<ul class="nav navbar-nav" style="padding-top:20px;">]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<section id="header" class="parallax" style="background:url(/include/bgwood.jpg) fixed;">]]></what>
      <by><![CDATA[<section id="header" class="parallax" style="background:url(/include/bgwood.jpg) fixed; height:80px; min-height:550px;">]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="overlay">
	<div class="container">]]></what>
      <by>
        <![CDATA[<div class="overlay" style="background:none;">
	<div class="container">]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[ <!-- PRODUCT IMAGE -->
				<div class="header-image-right">
					 <!--img class="anim-from-right" src="/bitrix/templates/landing001/img/header/img-iphone.png" alt--> <img src="/include/rak.png" class="anim-from-right" alt="">
				</div>]]></what>
      <by>
        <![CDATA[ <!-- PRODUCT IMAGE -->
				<div class="header-image-right">
					 <!--img class="anim-from-right" src="/bitrix/templates/landing001/img/header/img-iphone.png" alt--> <img src="/include/rak.png" class="anim-from-right" style="margin-top:170px;" alt="">
				</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<!-- HEADER TITLE -->
					<h1>
					<!-- SMALL TITLE --> <span class="header-txt-small">Живые раки оптом <br>
					 в Москве</span><br>
					 <!-- REGULAR TITLE --> <span class="header-txt-small">от</span>&nbsp;90<span class="header-txt-color">0</span> <span class="header-txt-small">руб / кг</span> </h1>
					 <!-- SUBTITLE -->
					<h3>Минимальный заказ 5кг!</h3>]]></what>
      <by>
        <![CDATA[<!-- HEADER TITLE -->
					<h1 style="margin-top:50px;">
					<!-- SMALL TITLE --> <span class="header-txt-small" style="background:#da4a3a;">Живые раки оптом</span>
					 <!-- REGULAR TITLE --> <span class="header-txt-small"  style="background:#da4a3a;">от&nbsp;<span  style="background:#da4a3a;">200</span> руб / кг</span> </h1>
					 <!-- SUBTITLE -->
					<h3><span style="background:#da4a3a;">Минимальный заказ 100кг!</span></h3>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[ <!-- HEADER BUTTONS -->
				<div class="buttons-cont">
					 <!-- DOWNLOAD BUTTON -->
					<div class="btn btn-lg btn-success anim-bounce-left">
 <a href="#">
						<!-- ICON --> <span class="elegant icon_cloud-download_alt"></span>
						<!-- BUTTON TEXT --> Скачать прайс-лист </a>
					</div>
					 <!-- LEARN MORE BUTTON -->
					<div class="btn btn-lg btn-danger anim-bounce-right">
 <a href="#features">
						<!-- ICON --> <span class="elegant arrow_carrot-2down"></span>
						<!-- BUTTON TEXT --> Подробнее </a>
					</div>
				</div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    
    
    
    <Replacement target="all">
      <what>
        <![CDATA[<h2 class="anim-fade-down">
<!-- TITLE --> ЖИВЫЕ РАКИ ОПТОМ В МОСКВЕ<br>
 <!-- SUBTITLE --> минимальный заказ от 5 кг.</h2>]]></what>
      <by>
        <![CDATA[<h2 class="anim-fade-down" style="line-height:1em;">
<!-- TITLE --> ЖИВЫЕ РАКИ ОПТОМ<br>
 <!-- SUBTITLE --> минимальный заказ от 100 кг.</h2>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="container">
	<div class="row">
		 <!-- OFFER 1 -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-fade">
			<div class="offer">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 5 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 1100 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
					<p>
						 20-30 гр/шт .................................. 1100 руб/кг
					</p>
					<p>
						 30-50 гр/шт .................................. 1300 руб/кг
					</p>
					<p>
						 50-70 гр/шт .................................. 1600 руб/кг
					</p>
					<p>
						 70-90 гр/шт ................................. 1900 руб/кг
					</p>
					<p class="unactive">
						 90-110 гр/шт ............................... 2000 руб/кг
					</p>
					<p class="unactive">
						 110+ гр/шт .................................. 2300 руб/кг
					</p>
					<p>
 <br>
					</p>
				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
					 <!--button type="button" class="btn btn-lg btn-success">Заказать!</button--> <a href="#contact" role="button" class="btn btn-lg btn-success">Заказать!</a>
				</div>
			</div>
		</div>
		 <!-- OFFER 3 - FEATURED -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-bounce">
			<div class="offer offer-best">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 15 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 900 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
					<p>
						 20-30 гр/шт .................................. 900 руб/кг
					</p>
					<p>
						 30-50 гр/шт .................................. 1100 руб/кг
					</p>
					<p>
						 50-70 гр/шт .................................. 1400 руб/кг
					</p>
					<p>
						 70-90 гр/шт ................................. 1700 руб/кг
					</p>
					<p>
						 90-110 гр/шт ............................... 1850 руб/кг
					</p>
					<p>
						 110+ гр/шт .................................. 2000 руб/кг
					</p>
				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
 <a href="#contact" role="button" class="btn btn-lg btn-info">Заказать!</a>
				</div>
			</div>
		</div>
		 <!-- OFFER 4 -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-fade">
			<div class="offer">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 50 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 900 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
					<p>
						 20-30 гр/шт .................................. 900 руб/кг
					</p>
					<p>
						 30-50 гр/шт .................................. 1100 руб/кг
					</p>
					<p>
						 50-70 гр/шт .................................. 1400 руб/кг
					</p>
					<p>
						 70-90 гр/шт ................................. 1700 руб/кг
					</p>
					<p>
						 90-110 гр/шт ............................... 1850 руб/кг
					</p>
					<p>
						 110+ гр/шт .................................. 2000 руб/кг
					</p>
				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
 <a href="#contact" role="button" class="btn btn-lg btn-success">Заказать!</a>
				</div>
			</div>
		</div>
	</div>
</div>]]></what>
      <by>
        <![CDATA[<div class="container">
	<div class="row">
		 <!-- OFFER 1 -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-fade">
			<div class="offer">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 100 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 300 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
					<p>
						 20-30 гр. №0 (30-45 шт/кг) ............ 300 руб/кг
					</p>
					<p>
						 40-60 гр. №1 (18-23 шт/кг) ............ 450 руб/кг
					</p>
					<p>
						 60-80 гр. №2 (14-16 шт/кг) ............ 600 руб/кг
					</p>
					<p>
						 80-100 гр. №3 (11-13 шт/кг) ........... 700 руб/кг
					</p>
					<p>
						 100-140 гр. №4 (8-9 шт/кг) .......... 1000 руб/кг
					</p>
					<p>
						 От 140 гр. №5 ( до 7 шт/кг) .......... 1400 руб/кг
					</p>

				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
					 <!--button type="button" class="btn btn-lg btn-success">Заказать!</button--> <a href="#contact" role="button" class="btn btn-lg btn-success">Заказать!</a>
				</div>
			</div>
		</div>
		 <!-- OFFER 3 - FEATURED -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-bounce">
			<div class="offer">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 500 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 250 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
										<p>
						 20-30 гр. №0 (30-45 шт/кг) ............ 250 руб/кг
					</p>
					<p>
						 40-60 гр. №1 (18-23 шт/кг) ............ 350 руб/кг
					</p>
					<p>
						 60-80 гр. №2 (14-16 шт/кг) ............ 400 руб/кг
					</p>
					<p>
						 80-100 гр. №3 (11-13 шт/кг) ........... 550 руб/кг
					</p>
					<p>
						 100-140 гр. №4 (8-9 шт/кг) .......... 850 руб/кг
					</p>
					<p>
						 От 140 гр. №5 ( до 7 шт/кг) .......... 1150 руб/кг
					</p>
				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
 <a href="#contact" role="button" class="btn btn-lg btn-success">Заказать!</a>
				</div>
			</div>
		</div>
		 <!-- OFFER 4 -->
		<div class="col-md-4 col-sm-6 col-xs-12 anim-fade">
			<div class="offer">
				 <!-- OFFER NAME -->
				<div class="offer-name">
					 От 1000 кг.
				</div>
				 <!-- PRICE -->
				<div class="offer-price">
					 от 200 руб
				</div>
				 <!-- OFFER FEATURES -->
				<div class="offer-features">
										<p>
						 20-30 гр. №0 (30-45 шт/кг) ............ 200 руб/кг
					</p>
					<p>
						 40-60 гр. №1 (18-23 шт/кг) ............ 300 руб/кг
					</p>
					<p>
						 60-80 гр. №2 (14-16 шт/кг) ............ 350 руб/кг
					</p>
					<p>
						 80-100 гр. №3 (11-13 шт/кг) ........... 500 руб/кг
					</p>
					<p>
						 100-140 гр. №4 (8-9 шт/кг) .......... 750 руб/кг
					</p>
					<p>
						 От 140 гр. №5 ( до 7 шт/кг) .......... 1000 руб/кг
					</p>
				</div>
				 <!-- BUY BUTTON -->
				<div class="offer-buy">
 <a href="#contact" role="button" class="btn btn-lg btn-success">Заказать!</a>
				</div>
			</div>
		</div>
	</div>
</div>]]></by>
    </Replacement>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <Replacement target="all">
      <what> <![CDATA[     <!-- ABOUT CONTAINER - TEXT ALIGN TO RIGHT -->
      <div class="about-cont bg-grey about-to-right">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                  
                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-left">География поставок</h3>
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-left">Наша компания предлагает купить живых раков оптом партнерам из любого региона Российской Федерации. Мы являемся крупнейшим поставщиком этих деликатесных товаров на территории страны, поэтому гарантируем самые выгодные цены и высокое качество продукции.</p>
                  <p class="anim-from-left">Хороший оборот и постоянное развитие, оптимизация деятельности позволяют нам предлагать оптимальные условия каждому покупателю.</p>
                  
                </div>
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="/include/eographiya.png" class="anim-from-right" alt>
                      
                </div>
                
              </div>
          </div>
      </div>]]>
        </what>
      <by>
                    <![CDATA[<!-- ABOUT CONTAINER - TEXT ALIGN TO RIGHT -->
      <div class="about-cont bg-grey">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                <!-- ABOUT TITLE -->
                  <!--h3 class="anim-from-left">География поставок</h3-->
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-left">Мы рады предложить Вам всегда свежих и необыкновенно вкусных живых раков, выловленных в экологически чистых озерах и реках Алтая, Поволжья,  Казахстана.</p>
                  <p class="anim-from-left">Все раки проходят подготовку к транспортировке с соблюдением всех норм, промывка, сушка, упаковка в специализированую тару, оформление всех сопроводительных документов: ветеринарное свидетельство, спецификация, акты, ТТН, счета. </p>
                  <p class="anim-from-left">Раки вылавливаются непосредственно перед отгрузкой, согласно заявленными вами объёмами. </p>
                  <p class="anim-from-left">Приглашем к сотрудничеству фирмы и предпринимателей, занимающихся продажей живых раков:</p>
                  <p class="anim-from-left">От нас:<br/>
- круглогодичная доставка;<br/>
- контроль своевременных расчетов;<br/>
- консультации по перевозке и упаковке раков (для достижения минимальных потерь во время транспортировки);
</p>
                  
                </div>
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="/include/map.png" class="anim-from-right" alt>
                      
                </div>
                </div>
          </div>
      </div>]]>
       </by>
    </Replacement>
   
    <Replacement target="all">
      <what>
        <![CDATA[<!-- ABOUT CONTAINER - TEXT ALIGN TO LEFT -->
      <div class="about-cont">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="/include/chto-daet-sotrudnichestvo.jpg" class="anim-from-left" alt>
                      
                </div>
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                  
                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-right">Что дает сотрудничество с нашей компанией</h3>
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-right">Заключая сделку с нами, вы можете быть полностью уверены в соблюдении всех ее условий. Мы занимаем лидирующее положение в отрасли, поэтому очень дорожим своей деловой репутацией. 
                  </p>
<p class="anim-from-right">Вкусные, полезные живые раки оптом в Москве дают покупателям следующие преимущества:<br/><br/>
- стабильно высокое качество продукта – удобное географическое положение и хорошая логистика обеспечивают поставку свежего товара;<br/>
- выгода и надежность – мы долгое время работаем в этой отрасли, поэтому отлично знаем ее специфику, предлагаем лучшие условия;<br/>
- оперативность – наличие своего автопарка, оборудования и грамотных сотрудников позволяет доставлять заказы в срок;<br/>
- постоянство – наличие приемочных пунктов гарантирует продажу живых раков в течение всего года.</p> 
                </div>
                
              </div>
          </div>
      </div>]]></what>
      <by>
        <![CDATA[      <!-- ABOUT CONTAINER - TEXT ALIGN TO LEFT -->
      <div class="about-cont about-to-right">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="/include/9.jpg" class="anim-from-left" alt>
                      
                </div>
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                  
                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-right">Что дает сотрудничество с нашей компанией</h3>
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-right">Заключая сделку с нами, вы можете быть полностью уверены в соблюдении всех ее условий. Мы занимаем лидирующее положение в отрасли, поэтому очень дорожим своей деловой репутацией. 
                  </p>
<p class="anim-from-right">Вкусные, полезные живые раки оптом дают покупателям следующие преимущества:<br/><br/>
- стабильно высокое качество продукта – удобное географическое положение и хорошая логистика обеспечивают поставку свежего товара;<br/><br/>
- выгода и надежность – мы долгое время работаем в этой отрасли, поэтому отлично знаем ее специфику, предлагаем лучшие условия;<br/><br/>
- оперативность – наличие своего автопарка, оборудования и грамотных сотрудников позволяет доставлять заказы в срок;<br/><br/>
- постоянство – наличие приемочных пунктов гарантирует продажу живых раков в течение всего года.</p> 
                </div>
                
              </div>
          </div>
      </div>]]></by>
    </Replacement>


    <Replacement target="all">
      <what><![CDATA[<p class="person">Николай Васильевич <span>Екатеринбург</span></p>]]></what>
      <by><![CDATA[<p class="person">Артем Гладков<span>Санкт-Петербург</span></p>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<p class="person">Алина И.<span>Москва</span></p>]]></what>
      <by><![CDATA[<p class="person">Елена Мазурова<span>Екатеринбург</span></p>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<p>Отмечали годовщину свадьбы на природе. Много гостей, заказали доставку раков. Очень круто все получилось. Спасибо вам!</p>]]></what>
      <by><![CDATA[<p>Организуем мероприятия на природе. Много гостей. Часто заказываем доставку раков. Очень круто все получается. Спасибо вам!</p>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<p class="person">Инна<span>Обнинск</span></p>]]></what>
      <by><![CDATA[<p class="person">Наталья Хомас<span>Тверь</span></p>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<p>Знакомый рекомендовал ребят как поставщиков. Вот уже 5й заказ оформила. Никаких нареканий, молодцы одним словом!</p>]]></what>
      <by><![CDATA[<p>Коллега рекомендовал ребят как поставщиков. Вот уже несколько заказов оформила. Никаких нареканий, молодцы!</p>]]></by>
    </Replacement>









    <Replacement target="all">
      <what><![CDATA[<h3 class="anim-fade-down">Важная информация!</h3>]]></what>
      <by><![CDATA[<h3 class="anim-fade-down">Доставка</h3>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<!-- TABS-->
                <ul class="nav nav-tabs nav-light anim-fade" role="tablist">
                  
                  <!-- TAB 1 -->
                  <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Польза раков</a></li>
                  
                  <!-- TAB 2 -->
                  <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Сколько брать</a></li>
                  
                  <!-- TAB 3 -->
                  <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">Как варить</a></li>
                  
                </ul>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<!-- TABS CONTENT -->
                <div class="tab-content anim-fade-up">
                  
                  <!-- CONTENT OF TAB 1 -->
                  <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                    
                      <!-- LEFT COLUMN -->
                      <div class="col-md-6">
                          <h4>Какими преимуществами отличаются живые раки</h4>]]></what>
      <by>
        <![CDATA[<!-- TABS CONTENT -->
                <div class="tab-content anim-fade-up">
                  
                  <!-- CONTENT OF TAB 1 -->
                  <div role="tabpanel" class="tab-pane fade in active" id="tab-5">    
                  
                      <!-- LEFT COLUMN -->
                      <div class="col-md-12">
                          <h4>Доставка в города России</h4>
             
                        <p>Раки доставляются в специальной таре, что гарантирует их сохранность и чистоту!</p>
                        <p>Транспортировка производится без воды. Для перевозки используют обычные просторные ящики. Материал ящиков –  пенопласт, дерево или пластмасса.</p>
                        <p>Ящики имеют большое количество дырок, чтобы образовывалась хорошая вентиляция.</p>
  
                        <p>Борт каждого ящика составляет примерно 15 – 30 см.</p>
                        <p>Чтобы они остались живыми и свежими по окончании поездки, на дно ящиков выкладывается смоченная ткань или смоченный мох.</p>
                        <p>Наш клиент всегда получает самых свежих раков, т.к. от вылова до доставки проходит не более 2-3 дней.</p>
                      </div>
                  </div>
                     
                   <!-- CONTENT OF TAB 1 -->
                  <div role="tabpanel" class="tab-pane fade in active" id="tab-1" style="display:none;">
                    
                      <!-- LEFT COLUMN -->
                      <div class="col-md-6">
                          <h4>Какими преимуществами отличаются живые раки</h4>
                      
                      
                  ]]></by>
    </Replacement>




    <Replacement target="all">
      <what>
        <![CDATA[<div class="container">
	<div class="row carousel-gallery anim-fade" id="carousel-gallery">
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_98" href="/upload/iblock/c38/c38cb51ab6f252c18da0d3b1b08c6620.jpg"><img src="/upload/iblock/9f5/9f5471386e98cb2386286553059a9a29.jpg" alt=""></a>
			</div>
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_97" href="/upload/iblock/2e8/2e86fd77d16e8d71036eabaf5f5c2eeb.jpg"><img src="/upload/iblock/b5d/b5de079cd0d83c1d01832c1bf788939b.jpg" alt=""></a>
			</div>
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_96" href="/upload/iblock/6a3/6a3568408e2c67bdcc71fea4d47258fe.jpg"><img src="/upload/iblock/9bf/9bf2ae08765470c89408da6d24808633.jpg" alt=""></a>
			</div>
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_95" href="/upload/iblock/625/62570b416cc549f3bad2751a544f5ba8.jpg"><img src="/upload/iblock/336/336b03acf9b5bc375686926b1fc6e6ed.jpg" alt=""></a>
			</div>
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_94" href="/upload/iblock/5d9/5d9f39a3ad519bcc3604853e62c63ded.jpg"><img src="/upload/iblock/1fc/1fcfdac06c28f45b9796e07a6dcfcb91.jpg" alt=""></a>
			</div>
						
			<div class="image">
				<a class="gallery-1" id="bx_3218110189_93" href="/upload/iblock/19e/19e1d4aea146b354583036c4bc4cceb2.jpg"><img src="/upload/iblock/c33/c33ca5c52a1304757defe9b54312ea9c.jpg" alt=""></a>
			</div>
			</div>
</div>]]></what>
      <by>
        <![CDATA[<div class="container">
	<div class="row carousel-gallery anim-fade" id="carousel-gallery">
						
			<!--div class="image">
				<a class="gallery-1" id="bx_3218110189_90" href="/include/gal/1.jpg"><img src="include/gal/1.jpg" alt=""></a>
      </div-->
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_91" href="/include/gal/2.jpg"><img src="include/gal/2.jpg" alt=""></a>
      </div>
      <div class="image">  
        <a class="gallery-1" id="bx_3218110189_92" href="/include/gal/3.jpg"><img src="include/gal/3.jpg" alt=""></a>
       </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_93" href="/include/gal/4.jpg"><img src="include/gal/4.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_94" href="/include/gal/5.jpg"><img src="include/gal/5.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_95" href="/include/gal/6.jpg"><img src="include/gal/6.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_96" href="/include/gal/7.jpg"><img src="include/gal/7.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_97" href="/include/gal/8.jpg"><img src="include/gal/8.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_98" href="/include/gal/10.jpg"><img src="include/gal/10.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_99" href="/include/gal/11.jpg"><img src="include/gal/11.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_80" href="/include/gal/12.jpg"><img src="include/gal/12.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_81" href="/include/gal/13.jpg"><img src="include/gal/13.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_82" href="/include/gal/14.jpg"><img src="include/gal/14.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_83" href="/include/gal/15.jpg"><img src="include/gal/15.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_84" href="/include/gal/16.jpg"><img src="include/gal/16.jpg" alt=""></a>
        </div>
      <div class="image">
        <a class="gallery-1" id="bx_3218110189_85" href="/include/gal/17.jpg"><img src="include/gal/17.jpg" alt=""></a>
			</div>
					
			</div>
</div>]]></by>
    </Replacement>


    
    
    
    
    
    <Replacement target="all">
      <what>
        <![CDATA[<div class="container anim-fade-up">
		 <!-- COLUMN 1 -->
		<div class="col-sm-3 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>Адрес</h6>
			 <!-- COLUMN CONTENT -->
			<p>
				г. Москва<br>
				 Волгоградский проезд, д. 9
			</p>
		</div>
		 <!-- COLUMN 2 -->
		<div class="col-sm-3 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>График работы</h6>
			 <!-- COLUMN CONTENT - LIST OF LINKS -->
			<ul>
				<li>Ежедневно с 9:00 до 23:00</li>
				<li>Сб-вс выходной</li>
			</ul>
		</div>
		 <!-- COLUMN 3 -->
		<div class="col-sm-3 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>Телефон</h6>
			 <!-- COLUMN CONTENT - LIST OF LINKS -->
			<ul>
				<li>Мобильный: +7 (926) 787-83-96</li>
			</ul>
		</div>
		 <!-- COLUMN 4 -->
		<div class="col-sm-3 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>E-mail</h6>
			 <!-- COLUMN CONTENT -->
			<p class="breakit">
				<a href="mailto:info@kupiraki.ru">info@kupiraki.ru</a>
			</p>
		</div>
	</div>]]></what>
      <by>
        <![CDATA[
      <div class="container anim-fade-up">

		 <!-- COLUMN 2 -->
		<div class="col-sm-4 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>График работы</h6>
			 <!-- COLUMN CONTENT - LIST OF LINKS -->
			<ul>
				<li>Ежедневно с 9:00 до 23:00</li>
				<li>Сб-вс выходной</li>
			</ul>
		</div>
		 <!-- COLUMN 3 -->
		<div class="col-sm-4 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>Телефон</h6>
			 <!-- COLUMN CONTENT - LIST OF LINKS -->
			<ul>
				<li>+7 (926) 787-83-96</li>
			</ul>
		</div>
		 <!-- COLUMN 4 -->
		<div class="col-sm-4 col-xs-12">
			 <!-- COLUMN TITLE -->
			<h6>E-mail</h6>
			 <!-- COLUMN CONTENT -->
			<p class="breakit">
				<a href="mailto:info@kupiraki.ru">info@kupiraki.ru</a>
			</p>
		</div>
	</div>]]></by>
    </Replacement>


    <Replacement target="all">
      <what>
        <![CDATA[<!-- SOCIAL MEDIA -->
          <div class="col-sm-4">
            
              <!-- FACEBOOK -->
              <a href="#">
                  <div class="sm">
                      <span class="elegant social_facebook"></span>
                  </div>
              </a>
              
              <!-- TWITTER -->
              <a href="#">
                  <div class="sm">
                      <span class="elegant social_twitter"></span>
                  </div>
              </a>
              
              <!-- GOOGLE PLUS -->
              <a href="#">
                  <div class="sm">
                      <span class="elegant social_googleplus"></span>
                  </div>
              </a>
              
              <!-- INSTAGRAM -->
              <a href="#">
                  <div class="sm">
                      <span class="elegant social_instagram"></span>
                  </div>
              </a>
              
              <!-- YOUTUBE -->
              <a href="#">
                  <div class="sm">
                      <span class="elegant social_youtube"></span>
                  </div>
              </a>
              <div id="bx-composite-banner">
              </div>

              
          </div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="col-sm-4 col-xs-12 hidden-xs">© 2016 - kupiraki.ru</div>]]></what>
      <by>
        <![CDATA[<div class="col-sm-4 col-xs-12 hidden-xs">© 2016 - раки-живые-оптом.рф</div>]]></by>
    </Replacement>


    <Replacement target="all">
      <what><![CDATA[+7 (926) 787-83-96]]></what>
      <by><![CDATA[8 (804) 333-71-05]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[+7(926)123-45-67]]></what>
      <by><![CDATA[8 (804) 333-71-05]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[info@kupiraki.ru]]></what>
      <by><![CDATA[optrak@mail.ru]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li>Сб-вс выходной</li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    <Replacement target="all">
      <what>
        <![CDATA[<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40116240 = new Ya.Metrika({
                    id:40116240,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40116240" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42340044 = new Ya.Metrika({
                    id:42340044,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42340044" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    
  </ReplacementModel>
</Configuration>