<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Locked>False</Locked>
  <Notifications>
    <MessageFrom>info@miketti.com</MessageFrom>
    <MessageTo>info.miketti.com@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <!--адаптация первого запуска-->
    <Replacement target="all">
      <what><![CDATA[https://static.tildacdn.com/tild3335-3839-4162-a161-346532623465/logo2akmmos22mebelnazakaz3222.png]]></what>
      <by><![CDATA[../logo.png]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[https://static.tildacdn.com/tild3663-3736-4331-b331-326165316462/logo2akmmos22mebelnazakaz3222.png]]></what>
      <by><![CDATA[../logo.png]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[https://static.tildacdn.com]]></what>
      <by><![CDATA[http://test2.miketti.com]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[static.tildacdn.com]]></what>
      <by><![CDATA[test2.miketti.com]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[static.tildacdn.com]]></what>
      <by><![CDATA[test2.miketti.com]]></by>
    </Replacement>
    
    <!--удаление лишнего-->
    <Replacement target="all">
      <what>
        <![CDATA[<meta name="google-site-verification" content="ITrovw148bEzAajzTuR8ZeShJlsSQraaX9RdD29nJ18" />]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<meta name="yandex-verification" content="a65886396b41fa9d" />]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[href="https://tilda.cc/?upm=144863"]]></what>
      <by><![CDATA[href="#"]]></by>
    </Replacement>
        <Replacement target="all">
      <what>
        <![CDATA[<!-- Yandex.Metrika counter 42179879 --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42179879 = new Ya.Metrika({id:42179879, webvisor:true, clickmap:true, trackLinks:true,accurateTrackBounce:true}); w.mainMetrika = 'yaCounter42179879'; } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/42179879" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<script>(function(w, d, s, h, id) { w.roistatProjectId = id; w.roistatHost = h; var p = d.location.protocol == "https:" ? "https://" : "http://"; var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init"; var js = d.createElement(s); js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
})(window, document, 'script', 'cloud.roistat.com', 'a87f980cf44a47a1d94425dde6fa1092');</script>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-31492614-12', 'auto'); ga('send', 'pageview'); window.mainTracker = 'user'; ga('create', 'UA-56589716-2', 'auto', {'name': 'tilda'}); ga('tilda.send', 'pageview'); if (! window.mainTracker) { window.mainTracker = 'tilda'; }</script>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=5772241264181248"></script>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
 


    <!--настройка-->
    <Replacement target="all">
      <what><![CDATA[<br />Москва, Большая Тульская, 19<br />80 метров от метро Тульская<br />График работы пн - вс с 11:00 до 20:00<br /><strong>выходные четверг, пятница</strong><br /><a href="http://kuhni.akmmos.ru/metro" target="_blank" style="" rel=""><u>Как добраться от метро?<br /></u></a><u><a href="http://kuhni.akmmos.ru/oplata" target="_blank" style="" rel="" data-redactor-tag="a">Оплата</a></u>]]></what>
      <by><![CDATA[<br />Воронеж, Ленинский пр-т, дом 96 А<br />График работы пн - вс с 10:00 до 20:00<br />]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Москва, Большая Тульская, 19]]></what>
      <by><![CDATA[Воронеж, Ленинский пр-т, дом 96 А]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<br />80 метров от метро Тульская]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[График работы пн - вс с 11:00 до 20:00]]></what>
      <by><![CDATA[График работы пн - вс с 10:00 до 20:00]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<strong>выходные четверг, пятница</strong>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[365 дней с 09:00 до 21:00]]></what>
      <by><![CDATA[График работы пн - вс с 10:00 до 20:00]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<u><a href="http://kuhni.akmmos.ru/oplata" target="_blank" style="" rel="" data-redactor-tag="a">Оплата</a></u>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[/oplata]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<a href="http://kuhni.akmmos.ru/metro" target="_blank" style="" rel=""><u>Как добраться от метро?<br /></u></a>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Рассчитаем точную цену кухни за 15 минут и подарим кварцевую мойку сегодня!]]></what>
      <by><![CDATA[Рассчитаем точную цену кухни за 15 минут и подарим вытяжку сегодня!]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<br />Кухня из пластика за 7 дней от 17 000 за погонный метр.]]></what>
      <by><![CDATA[<br />Кухня из пленки за 7 дней от 12 000 за погонный метр.<br />Кухня из пластика за 7 дней от 17 000 за погонный метр.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="t-map" id="separateMap14733737" data-map-language="" data-map-x="-74.005941" data-map-y="40.7127837" data-map-zoom="16" data-map-title=" Контакты " style="width:100%; height:500px;"]]></what>
      <by><![CDATA[<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae68f72753ae896080d573a97f34d592ecd845fff521abdb5753cc6a510c913c1&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
      <div class="t-map" id="separateMap14733737" data-map-language="" data-map-x="-74.005941" data-map-y="40.7127837" data-map-zoom="16" data-map-title=" Контакты " style="width:100%; height:500px; display:none;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    <!--после всего-->
    <Replacement target="all">
      <what><![CDATA[kuhni@akmmos.ru]]></what>
      <by><![CDATA[mebelkitchen@gmail.com]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Akmmos]]></what>
      <by><![CDATA[Кухня вашей мечты]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[+7 (495) 162-80-26]]></what>
      <by><![CDATA[+7 (473) 251-46-97]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[+7 495 162 80 26]]></what>
      <by><![CDATA[+7 473 251 46 97]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Кухни на заказ по индивидуальным размерам akmmos]]></what>
      <by><![CDATA[Кухни на заказ по индивидуальным размерам]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[акммос]]></what>
      <by><![CDATA[Кухня вашей мечты]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Акммос]]></what>
      <by><![CDATA[Кухня вашей мечты]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Москва]]></what>
      <by><![CDATA[Воронеж]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Москве]]></what>
      <by><![CDATA[Воронеже]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
  </ReplacementModel>
</Configuration>