<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Locked>False</Locked>
  <Notifications>
    <MessageFrom>info@ros-zalog.ru</MessageFrom>
    <MessageTo>79111393577@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[<script src="https://collection.sprox.com/sites/all/modules/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>]]></what>
      <by>
        <![CDATA[
              <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
              <!--<script language="JavaScript" type="text/javascript">
                window.onbeforeunload = function(){
                  return 'Are you sure you want to leave?';
                };
              </script>-->
        ]]>
      </by>
      </Replacement>

    <Replacement target="all">
      <what><![CDATA[<script src="https://collection.sprox.com/misc/drupal.js]]></what>
      <by><![CDATA[<script src="/Scripts/sprox.com/drupal.js]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<script type="text/javascript" src="/content/script/0_auth.js]]></what>
      <by><![CDATA[<script src="/Scripts/sprox.com/auth.js]]></by>
    </Replacement>
    
  </ReplacementModel>
</Configuration>