@{
    MvcApplication10.Models.PocketModel model = ViewData.Model as MvcApplication10.Models.PocketModel;
}

<div id="2fea14ff-d8e3-42c1-a230-3917b7a640c9">
    
    <input type="hidden" name="generated" value="@DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")" />
    
    <script src="/Scripts/jquery_pocket.js" type="text/javascript"></script>
    <script>

        jQuery_pocket.noConflict();

        jQuery_pocket(document).ready(function () {
            window.onhashchange = onHashChange;
            onHashChange();
        })


        function onHashChange() {
            if (location.hash.toLowerCase() == "#admin") {
                location.href = "/admin?url=" + encodeURIComponent(location.pathname);
            }
            if (location.hash.toLowerCase() == "#reset") {
                jQuery_pocket.ajax({
                    url: "/Admin/Reset",
                    success: function () {
                        location.href = location.href.split('#')[0];
                    },
                    type: 'POST'
                });
            }
        }

    </script>

    @if (model.adminmode)
    {
        <script src="/Scripts/_admin.js" type="text/javascript"></script>
    }
    else
    {
        <script src="/Scripts/_post.js" type="text/javascript"></script>   
    }

</div>
