<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Notifications>
    <MessageFrom>info@miketti.com</MessageFrom>
    <MessageTo>79111393577@mail.ru</MessageTo>
  </Notifications>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>

    <Replacement target="all">
      <what><![CDATA[РемПластОкна]]></what>
      <by><![CDATA[Комфорт-Сервис]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Ремпластокна]]></what>
      <by><![CDATA[Комфорт-Сервис]]></by>
    </Replacement> 
    <Replacement target="all">
      <what><![CDATA[Рем Пласт Окна]]></what>
      <by><![CDATA[Комфорт-Сервис]]></by>
    </Replacement>

<Replacement target="all">
    <what><![CDATA[Ремонт <br />Пластиковых <br />окон]]></what>
    <by><![CDATA[Пластиковые <br />окна]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[Ремонт<br>Алюминиевых<br>окон]]></what>
    <by><![CDATA[Алюминиевые<br>окна]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[Ремонт<br />Деревянных<br />окон</a>]]></what>
    <by><![CDATA[Деревянные<br />окна</a>]]></by>
</Replacement>

<Replacement target="all">
    <what><![CDATA[215-09-03]]></what>
    <by><![CDATA[611-36-12]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[(495) многоканальный]]></what>
    <by><![CDATA[(916) с 9:00 до 21:00]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[(495)]]></what>
    <by><![CDATA[(916)]]></by>
</Replacement>

<Replacement target="all">
    <what><![CDATA[
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter19176130 = new Ya.Metrika({id:19176130,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/19176130" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'qh2kSwlY5Q';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->]]></what>
    <by><![CDATA[]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<!-- Phone Ring -->
<div id="clbh_phone_div" class="cbh-phone green static" style="bottom: 10px; right: 5%;">
    <div class="cbh-ph-circle"></div>
    <div class="cbh-ph-circle-fill"></div>
    <div class="cbh-ph-img-circle"></div>
</div>
<!-- Phone Ring -->]]></what>
    <by><![CDATA[]]></by>
</Replacement>


<Replacement target="all">
    <what><![CDATA[<span><a href="/remont-plastikovyh-okon/regulirovka-furnitury.html">Регулировка фурнитуры</a></span>]]></what>
    <by><![CDATA[<span style="color:#efd33e;">Регулировка фурнитуры</span>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<span><a href="/remont-plastikovyh-okon/zamena-gluhoj-stvorki-na-raspashnuju.html">Замена глухой створки на распашную</a></span>]]></what>
    <by><![CDATA[<span style="color:#efd33e;">Замена глухой створки на распашную</span>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<span><a href="/remont-plastikovyh-okon/zamena-uplotnitelya.html">Замена уплотнителя</a></span>]]></what>
    <by><![CDATA[<span style="color:#efd33e;">Замена уплотнителя</span>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<span><a href="/remont-plastikovyh-okon/zamena-ruchek-i-zamkov.html">Замена ручек и замков</a></span>]]></what>
    <by><![CDATA[<span style="color:#efd33e;">Замена ручек и замков</span>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[29.html" class="button"]]></what>
    <by><![CDATA[29.html" class="button" style="display:none;"]]></by>
</Replacement>

<Replacement target="all">
    <what><![CDATA[<span><a href="/kachestvennyi-remont.html">Качественный ремонт</a></span>]]></what>
    <by><![CDATA[<span><a href="/">Качественный ремонт</a></span>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<li><span><a href="/partnery.html">Наши партнеры</a></span></li><li><span><a href="/vacancies.html">Вакансии</a></span></li><li><span><a href="/otzyvy.html">Отзывы</a></span></li>]]></what>
    <by><![CDATA[]]></by>
</Replacement>



<Replacement target="all">
    <what><![CDATA[/remont-plastikovyh-okon/regulirovka-okonnyh-stvorok.html"]]></what>
    <by><![CDATA[#" onclick="javascript:return false;"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[/remont-plastikovyh-okon/nezavisimaja-ekspertiza-teplovizorom.html"]]></what>
    <by><![CDATA[#" onclick="javascript:return false;"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[/remont-plastikovyh-okon/zamena-steklopaketa.html"]]></what>
    <by><![CDATA[#" onclick="javascript:return false;"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[href="/remont-plastikovyh-okon/]]></what>
    <by><![CDATA[onclick="javascript:return false;" href="#]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[href="/remont-derevyannyh-okon/]]></what>
    <by><![CDATA[onclick="javascript:return false;" href="#]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[href="/remont-alyuminievyh-okon/]]></what>
    <by><![CDATA[onclick="javascript:return false;" href="#]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[class="link1"]]></what>
    <by><![CDATA[class="link1 callme_viewform"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[class="link3"]]></what>
    <by><![CDATA[class="link3 callme_viewform"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<em><b>Подробно</b></em>]]></what>
    <by><![CDATA[<em><b>Заказать</b></em>]]></by>
</Replacement>



<Replacement target="all">
    <what><![CDATA[<td style="padding-left: 60px;">
                        <img src="images/link-sitemap.png">                        
                        <a href="#" onclick="anichange('#divId'); return false">Карта сайта</a> 
                        
                    </td>]]></what>
    <by><![CDATA[<td style="padding-left: 60px;"></td>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[Письмо директору]]></what>
    <by><![CDATA[Письмо]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<div id="social">]]></what>
    <by><![CDATA[<div id="social" style="display:none;">]]></by>
</Replacement>



<Replacement target="all">
    <what><![CDATA[<p style="font-size: 13px; ">Все наши проекты:</p>
    <p><a rel="nofollow" href="http://www.eurooknapvx.ru" target="_blank">Пластиковые окна</a></p>
    <p><a rel="nofollow" href="http://www.climat-am.ru"  target="_blank">Кондиционеры</a></p>
    <p><a rel="nofollow" href="http://zhaluzi-beru.ru" target="_blank">Жалюзи</a></p>
    <p><a rel="nofollow" href="http://potolki-beru.ru/" target="_blank">Натяжные потолки</a></p>
    <p><a rel="nofollow" href="http://mebel-beru.ru/house" target="_blank">Мебель для дома</a></p>
    <p><a rel="nofollow" href="http://mebel-beru.ru/office" target="_blank">Мебель для офиса</a></p>]]></what>
    <by><![CDATA[]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<div id="divId" style="display: block;]]></what>
    <by><![CDATA[<div id="divId" style="display: none;]]></by>
</Replacement>



<Replacement target="all">
    <what><![CDATA[<div class="iSliderGallery"]]></what>
    <by><![CDATA[<div class="iSliderGallery" style="display: none;"]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[garantiya-na-remont.html" class="link2">Читать</a>]]></what>
    <by><![CDATA[garantiya-na-remont.html" class="link2" style="display:none;">Читать</a>]]></by>
</Replacement>


<Replacement target="all">
    <what><![CDATA[<tr>
<td>
<p><img style="width: 500px; height: 333px; float: left; border: 5px solid #FFF; box-shadow: 1px 1px 1px #B3AB00;" src="images/contacts/contacts_bild.jpg" alt="" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="text-align: right; vertical-align: top;">
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>Как к нам доеха</strong><strong>ть?</strong></span></p>
<p>&nbsp;</p>
<p><span style="color: #0066cc;">от </span><span style="color: #0066cc;">м. Новокосино</span></p>
<p>автобус № 21, маршрутки № 274м, 301м до остановки "3-й микр-н Новокосино"</p>
<p>или</p>
<p>автобус № 792, маршрутки № 725м, 726м до остановки "Ветлужская улица"</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #0066cc;">от м. Выхино</span></p>
<p>маршрутка № 2м до остановки "3-й микрорайон Новокосино"</p>
</td>
</tr>]]></what>
    <by><![CDATA[]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<p style="text-align: right;">111672, г. Москва</p>]]></what>
    <by><![CDATA[<p style="text-align: right;">109387, г.Москва</p>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<p style="text-align: right;">ул. Салтыковская, д. 8/18, офис 308</p>]]></what>
    <by><![CDATA[<p style="text-align: right;">ул. Люблинская, д.40, каб. 408</p>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<p style="text-align: right;">(бесплатная стоянка)</p>]]></what>
    <by><![CDATA[<p></p>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<p style="text-align: right;">E-mail: <a href="mailto:zakaz@eurooknapvx.ru">zakaz@remplastokna.ru</a></p>]]></what>
    <by><![CDATA[<p></p>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<p style="text-align: right;">Мы в социальных сетях:</p>]]></what>
    <by><![CDATA[<p></p>]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<div id="social_contacts">]]></what>
    <by><![CDATA[<div id="social_contacts" style="display:none;">]]></by>
</Replacement>


<Replacement target="all">
    <what><![CDATA[<script type="text/javascript" src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=cim8OThNXy8bv_dop9-hbWkklr1d41_x&amp;width=500&amp;height=333"></script>]]></what>
    <by><![CDATA[<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=a2iIlXgUbD48dGWLQVf6-rPbT2do1pod&amp;width=500&amp;height=333&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>]]></by>
</Replacement>


<Replacement target="all">
    <what><![CDATA[<div class="tooltip zamer-lnk">]]></what>
    <by><![CDATA[<div class="tooltip zamer-lnk" style="display: none;">]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<script src="/js/Swis721_BT_400.font.js" type="text/javascript"></script>]]></what>
    <by><![CDATA[]]></by>
</Replacement>
<Replacement target="all">
    <what><![CDATA[<script src="/js/Swis721_BT_700.font.js" type="text/javascript"></script>]]></what>
    <by><![CDATA[]]></by>
</Replacement>


  </ReplacementModel>
</Configuration>
