<?xml version="1.0" encoding="utf-8"?>
<Configuration id="00000000-0000-0000-0000-000000000000">
  <Notifications>
    <MessageFrom>info@ros-zalog.ru</MessageFrom>
    <MessageTo>lf-plan@mail.ru</MessageTo>
  </Notifications>
  <Locked>true</Locked>
  <ReplacementModel>
    <Replacement target="all">
      <what><![CDATA[]]></what>
      <by><![CDATA[]]></by>
    </Replacement>

    
    <Replacement target="all">
      <what><![CDATA[<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<!-- Yandex.Metrika counter -->
<noscript><div><img src="//mc.yandex.ru/watch/25926932" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->]]></what>
      <by><![CDATA[<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40420840 = new Ya.Metrika({ id:40420840, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40420840" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter25926932 = new Ya.Metrika({id:25926932,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript"><!--
document.write("<a style='display: none' href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t44.10;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='1' height='1'><\/a>")
//--></script>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    
    
    
    
    
    <Replacement target="all">
      <what><![CDATA[<div class="menu__cont--search"]]></what>
      <by><![CDATA[<div class="menu__cont--search" style="display:none;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<a href="#selectCity" data-toggle="modal" class="header__city hidden-xs">]]></what>
      <by><![CDATA[<a href="#selectCity" data-toggle="modal" class="header__city hidden-xs" style="display:none !important;">]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<a href="/include/arrow-clock.php" class="icon-block__link various fancybox.ajax">Оперативность</a>]]></what>
      <by><![CDATA[<a href="/include/arrow-clock.php" class="icon-block__link various fancybox.ajax">Оперативность</a>
      <div style="display:none;">
      <div class="content-pad" id="arrow-clock">
    Если Вам срочно необходимы денежные средства - взять заем в нашей компании можно быстро и удобно. <br/>Принимаем решение о выдаче займа в течение одного рабочего дня, что значительно экономит Ваше время.
</div>
      <div class="content-pad" id="handshake">
    Кредитная история заемщика и его документально подтверждённая платежеспособность не влияют на наше решение о выдаче займа.<br/> На выбор заемщика предлагается несколько доступных способов получения заемных средств и погашения займа. 
</div>
      <div class="content-pad" id="purse">
    Минимальный пакет документов для получения займа. Не требуем документального подтверждения доходов.<br/> Оформление без поручительства. 
</div>
      <div class="content-pad" id="safe">
    Условия предоставления займа оговариваются в каждом отдельном случае индивидуально и оформляются соответствующими документами.<br/> Услуги предоставляются в полном соответствии с ФЗ № 102 от 16 июля 1998 г. "Об ипотеке (залоге недвижимости)" и ФЗ № 190 от 18 июля 2009 г. «О кредитной кооперации». 
</div>
</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/arrow-clock.php"]]></what>
      <by><![CDATA[href="#" onClick="$.fancybox($('#arrow-clock')); return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/handshake.php"]]></what>
      <by><![CDATA[href="#" onClick="$.fancybox($('#handshake'));return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/purse.php"]]></what>
      <by><![CDATA[href="#" onClick="$.fancybox($('#purse'));return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/safe.php"]]></what>
      <by><![CDATA[href="#" onClick="$.fancybox($('#safe'));return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/rain.php"]]></what>
      <by><![CDATA[href="#" onClick="return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/charter.php"]]></what>
      <by><![CDATA[href="#" onClick="return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[href="/include/graph.php"]]></what>
      <by><![CDATA[href="#" onClick="return false;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[various fancybox.ajax]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    <Replacement target="all">
      <what><![CDATA[Мы создаем благоприятные условия для Ваших сбережений]]></what>
      <by><![CDATA[Деньги должны работать на Вас]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="logo__text hidden-xs">
						мы создаем<br>
						благоприятные<br>
						условия для ваших<br>
						сбережений
					</div>]]></what>
      <by>
        <![CDATA[<div class="logo__text hidden-xs">
						деньги должны<br>
						работать<br>
						на Вас<br>
						&nbsp; 
					</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Позвоните по бесплатному номеру нашей горячей линии, оставьте онлайн заявку на получение займа на сайте или придите в ближайший, к Вашему дому, офис.]]></what>
      <by><![CDATA[Позвоните по номеру нашей горячей линии или оставьте онлайн заявку на получение займа на сайте.]]></by>
    </Replacement>

    <Replacement target="all">
      <what>
        <![CDATA[<li class="active">
							<a href="#saving-0" data-toggle="tab">
					Что такое кредитный потребительский кооператив?				</a>
					</li>
					<li class="">
							<a href="#saving-1" data-toggle="tab">
					Возможна ли капитализация и пролонгация договора?				</a>
					</li>
					<li class="">
							<a href="#saving-2" data-toggle="tab">
					Можно ли разместить личные сбережения в одном офисе, а забрать в другом?				</a>
					</li>
					<li class="">
							<a href="#saving-3" data-toggle="tab">
					Как решаются вопросы наследования в кооперативе?				</a>
					</li>
					<li class="">
							<a href="#saving-4" data-toggle="tab">
					Гарантия сохранности личных сбережений?				</a>
					</li>
					<li class="">
							<a href="#saving-5" data-toggle="tab">
					Есть ли у КПК «Капитал Инвест» лицензия?				</a>
					</li>]]></what>
      <by>
        <![CDATA[					<li class="active">
							<a href="#saving-4" data-toggle="tab">
					Гарантия сохранности личных сбережений?				</a>
					</li>
          					<li class="">
							<a href="#saving-0" data-toggle="tab">
					Что будет с инвестициями, если Заемщик перестанет платить?				</a>
					</li>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="tab-pane active tabs-block__text" id="saving-0">
				В соответствии с Федеральным законом № 190-ФЗ от 18 июля 2009 года «О кредитной кооперации» кредитным потребительским кооперативом &#40;КПК&#41; называется добровольное объединение физических и &#40;или&#41; юридических лиц на основе членства и по территориальному, профессиональному и &#40;или&#41; иному принципу в целях удовлетворения финансовых потребностей членов кредитного кооператива &#40;пайщиков&#41;». <br />
Кредитные кооперативы оказывают финансовые услуги только своим членам. Поэтому для того, чтобы передать сбережения или получить заем, необходимо вступить в кооператив. Членами кредитного кооператива &#40;пайщиками&#41; могут быть физические лица, достигшие возраста 16 лет, и &#40;или&#41; юридические лица. Член кредитного кооператива &#40;пайщик&#41; обязан соблюдать устав кредитного кооператива и выполнять решения органов кредитного кооператива.<br />
			</div>]]></what>
      <by>
        <![CDATA[<div class="tab-pane tabs-block__text" id="saving-0">
				По каждому Займу в Компании создается Резервный фонд. Если Заемщик перестает платить, Компания обращается в суд для реализации залога. На время судебного процесса все обязательства перед инвесторами выполняются из нашего Резервного фонда<br/>
			</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="tab-pane  tabs-block__text" id="saving-4">
				В нашем кооперативе она многоуровневая.<br />
Саморегулируемая организация «Союзмикрофинанс», членом которой является «Капитал Инвест», на постоянной основе проверяет деятельность КПК. Она обязана отследить признаки финансовой нестабильности и дать рекомендации по их устранению. В противном случае деятельность КПК будет корректироваться. Кроме того, каждый член СРО вносит взносы в компенсационный фонд. В случае банкротства КПК, пайщики смогут получить компенсационные выплаты из данного фонда. <br />
Часть средств, согласно Федеральному закону № 190-ФЗ «О кредитной кооперации» отчисляется в резервный фонд, призванный покрыть убытки в случае ликвидации кредитного кооператива.<br />
И, наконец, риски по сбережениям пайщиков застрахованы. Расходы, связанные со страхованием, несёт КПК «Капитал Инвест». Услуги страхования предоставляет компания с безупречной репутацией - АО АСК «Инвестстрах», уже 24 года остающейся гарантом надёжности для своих клиентов. Сумма лимита ответственности установлена в размере 1500000 рублей на одного пайщика. <br />
Кроме того, статья 189.1. Федерального закона от 26.10.2002 № 127-ФЗ &#40;ред. от 29.12.2015&#41; «О несостоятельности &#40;банкротстве» также стоит на защите сбережений наших пайщиков.<br />
			</div>]]></what>
      <by><![CDATA[<div class="tab-pane active tabs-block__text" id="saving-4">Сохранность Ваших инвестиций гарантируется залогом ликвидной недвижимости. </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[На решение комитета по займам КПК «Капитал Инвест» данные факторы не влияют.]]></what>
      <by><![CDATA[На решение комитета по займам Компании «Росзалог» данные факторы не влияют.]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[Доверие к клиенту - ведущий принцип КПК «Капитал Инвест»]]></what>
      <by><![CDATA[Доверие к клиенту - ведущий принцип Компании «Росзалог»]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[С помощью КПК «Капитал Инвест» можно решить множество вопросов]]></what>
      <by><![CDATA[С помощью Компании «Росзалог» можно решить множество вопросов]]></by>
    </Replacement>    
 


    <Replacement target="all">
      <what>
        <![CDATA[class="reviews__link fancybox"]]></what>
      <by><![CDATA[class="reviews__link fancybox" style="display:none;"]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="reviews h-cell-emulate h-valign-top">
			<div class="reviews__button-block">]]>
      </what>
      <by>
        <![CDATA[<div class="reviews h-cell-emulate h-valign-top" style="display:none !important;">
			<div class="reviews__button-block">]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="socials-widgets__item" style="width: 215px; margin: 0 auto 16px;">
                            <div id="fb-root"></div>
                                                        <div class="fb-page" data-href="https://www.facebook.com/%D0%9A%D0%9F%D0%9A-%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BB-%D0%98%D0%BD%D0%B2%D0%B5%D1%81%D1%82-1583101388670661/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                        <div class="socials-widgets__item">
                            <div id="ok_group_widget" style="text-align: center;"></div>
                                                    </div>]]>
      </what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="https://www.investstrakh.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/017/017a8d18cdf688b77b2ba9c7bcad0964.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by>
        <![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="http://souzmicrofinans.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/41a/41a2d8e76aeddaf56c8064c357bdb741.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="http://fin-partners.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/c4a/c4a7aabd5ff9361db0e60844bb56ad16.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="http://www.sberbank.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/47b/47b8f42ca8bd484d67e54ceaa3713a47.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by>
        <![CDATA[<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="http://www.sberbank.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/47b/47b8f42ca8bd484d67e54ceaa3713a47.png" alt="" />
				</a>
			</li>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="https://alfabank.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/bdb/bdb9b8e30a1fd858348cf56c29c103ca.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by>
        <![CDATA[<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="https://alfabank.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/bdb/bdb9b8e30a1fd858348cf56c29c103ca.png" alt="" />
				</a>
			</li>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<a href="http://md.mos.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/ca4/ca443188974dfec90a43a93555a205de.png" alt="" />
				</a>
			</li>]]>
      </what>
      <by>
        <![CDATA[<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<a href="http://md.mos.ru/" rel="nofollow" target="_blank">
					<img src="/upload/iblock/ca4/ca443188974dfec90a43a93555a205de.png" alt="" />
				</a>
			</li>]]></by>
    </Replacement>


    <Replacement target="all">
      <what><![CDATA[<li class="block-mobile-menu__last-level-item"><a class="block-mobile-menu__last-level-link" href="/news/">Новости</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li class="block-mobile-menu__last-level-item"><a class="block-mobile-menu__last-level-link" href="/reviews/">Отзывы</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="menu-mobile__item h-table-emulate h-full">
		<a style="overflow: hidden;" class="menu-mobile__link h-cell-emulate h-valign-middle"
		   href="/news/"
		   >
			Новости		</a>
	</li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="menu-mobile__item h-table-emulate h-full">
		<a style="overflow: hidden;" class="menu-mobile__link h-cell-emulate h-valign-middle"
		   href="/reviews/"
		   >
			Отзывы		</a>
	</li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li><a href="/news/">Новости</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li><a href="/reviews/">Отзывы</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li><a href="/loan/">Калькулятор займа</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<li><a href="/saving/">Калькулятор дохода сбережений</a></li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="h-cell-emulate">
    <a href="https://www.facebook.com/%D0%9A%D0%9F%D0%9A-%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BB-%D0%98%D0%BD%D0%B2%D0%B5%D1%81%D1%82-1583101388670661/" class="socials__link--facebook">
        <i class="fa fa-facebook"></i>
    </a>
</li>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<li class="h-cell-emulate">
    <a href="http://www.ok.ru/group/53039196340393" class="socials__link--ok">
        <i class="fa fa-odnoklassniki"></i>
    </a>
</li>]]>
      </what>
      <by><![CDATA[]]></by>
    </Replacement>




    <!--Страницы-->
    <Replacement target="all">
      <what>
        <![CDATA[<p>
	 Кредитный потребительский кооператив «Капитал Инвест» создан в соответствии с положениями федерального закона «О кредитной кооперации» № 190 ФЗ от 18 июля 2009 г. Является действующим членом НП СРО кредитных кооперативов «СОЮЗМИКРОФИНАНС» Свидетельство № 333 от 07.02.2014 г.&nbsp;
</p>
<p>
	 КПК «Капитал Инвест» работает для своих пайщиков с января 2014 года. Мы располагаем сетью офисов в 15 регионах России. Предоставляем широкий спектр финансовых услуг: предоставляем займы под залог имеющейся или приобретаемой недвижимости и принимаем сбережения. Подконтрольны государству в лице Центрального Банка и СРО "Союзмикрофинанс".
</p>]]></what>
      <by><![CDATA[<p>Компания Росзалог работает на рынке с 2014г. Предоставляем широкий спектр услуг: выдаем займы под залог имеющейся или приобретаемой недвижимости и принимаем инвестиции.</p>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="content-block">
    <div class="cont">
        <div class="content-block__title content-block__title--mobile-title  content-block__title--dark">
            Раскрытие информации]]></what>
      <by>
        <![CDATA[<div class="content-block" style="display:none;">
    <div class="cont">
        <div class="content-block__title content-block__title--mobile-title  content-block__title--dark">
            Раскрытие информации]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[div class="content-block">
    <div class="cont">
        <div class="select-city-block__wrap">]]></what>
      <by>
        <![CDATA[div class="content-block" style="display:none;">
    <div class="cont">
        <div class="select-city-block__wrap">]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[от 13% до 19,95% годовых]]></what>
      <by><![CDATA[от 24% до 30% годовых]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Сбережения застрахованы</a>]]></what>
      <by><![CDATA[Сбережения обеспечены залогом</a>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Гарантия надежности</a>]]></what>
      <by><![CDATA[Сделка оформляется в регпалате</a>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Высокая надежность</a>]]></what>
      <by><![CDATA[Высокая доходность</a>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Реальная ставка по договорам личных сбережений в КПК «Капитал Инвест» выше инфляции. Программы КПК «Капитал Инвест» не только сохранят Ваши сбережения от инфляции, но и помогут их приумножить.]]></what>
      <by><![CDATA[Реальная ставка по договорам личных сбережений в Компании «Капитал Инвест» выше инфляции. Программы Компании «Капитал Инвест» не только сохранят Ваши сбережения от инфляции, но и помогут их приумножить.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[С КПК «Капитал Инвест» Вы будете стабильно получать высокие проценты по своим накоплениям.]]></what>
      <by><![CDATA[С Компанией «Капитал Инвест» Вы будете стабильно получать высокие проценты по своим накоплениям.]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="horizontal-icon__title">
	 Многоуровневые гарантии
</div>
<div class="horizontal-icon__description">
	 Во-первых, саморегулируемая организация «Союзмикрофинанс», членом которой является «Капитал Инвест», ежеквартально проверяет деятельность КПК. <br>
	<br>
	 Во-вторых, часть средств, согласно Федеральному закону № 190-ФЗ «О кредитной кооперации» отчисляется в резервный фонд.<br>
	&nbsp;&nbsp;<br>
	И, наконец, риски по сбережениям пайщиков застрахованы. Расходы, связанные со страхованием, несёт КПК «Капитал-Инвест». Услуги страхования предоставляет компания с безупречной репутацией - АО АСК «Инвестстрах», уже 24 года остающейся гарантом надёжности для своих клиентов.
</div>]]></what>
      <by>
        <![CDATA[<div class="horizontal-icon__title">
	 Гарантии сохранности инвестиций 
</div><div class="horizontal-icon__description">Все выдаваемые займы обеспечены залогом ликвидной недвижимости. Все сделки проходят через Регпалату.</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div id="anchor-requisites" class="content-block content-block hidden-xs">
	<div class="cont">
		<div class="content-block__title content-block__title--dark">
			 Реквизиты КПК]]></what>
      <by>
        <![CDATA[<div id="anchor-requisites" class="content-block content-block hidden-xs" style="display:none;">
	<div class="cont">
		<div class="content-block__title content-block__title--dark">
			 Реквизиты КПК]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Сумма займа <span>от 100 тысяч до 50 миллионов рублей</span>]]></what>
      <by><![CDATA[Сумма займа <span>от 100 тысяч до 5 миллионов рублей</span>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__select-variables">
                        <label class="calculator__label hidden-xs">Вид<br> погашения:</label>]]></what>
      <by><![CDATA[<div class="calculator__select-variables" style="display:none;">
                        <label class="calculator__label hidden-xs">Вид<br> погашения:</label>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<a class="hidden-xs" href="#loanTextModal" data-toggle="modal">?</a>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    
      
    <!--Калькуляторы-->
    <!--1-->
    <Replacement target="all">
      <what><![CDATA[<div class="content-block__button-block">
                <input type="submit" name="loan" class="btn btn--small btn--red re-btn" value="Подробный расчет" />
            </div>]]></what>
      <by><![CDATA[<div class="content-block__button-block" style="display:none;"></div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="content-block__button-block">
                <input type="submit" name="saving" value="Подробный расчет" class="btn btn--small btn--red re-btn" />
            </div>]]></what>
      <by><![CDATA[<div class="content-block__button-block" style="display:none;"></div>]]></by>
    </Replacement>    
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer">
                            <label>Сумма итоговой<br> переплаты:</label>]]></what>
      <by><![CDATA[<div class="calculator__res-item calculator__res-outer" style="display:none;">
                            <label>Сумма итоговой<br> переплаты:</label>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__line calculator__border-fix">
                                <div data-price data-min="100000" data-max="50000000"></div>
                            </div>]]></what>
      <by><![CDATA[<div class="calculator__line calculator__border-fix">
                                <div data-price data-min="100000" data-max="5000000"></div>
                            </div>]]></by>
    </Replacement>
        <Replacement target="all">
      <what><![CDATA[<div class="calculator__line calculator__border-fix">
                                                        <div data-price  data-min="100000" data-max="50000000"></div>
                        </div>]]></what>
      <by><![CDATA[<div class="calculator__line calculator__border-fix">
                                                        <div data-price  data-min="100000" data-max="5000000"></div>
                        </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer">
                            <label>НДФЛ:]]></what>
      <by><![CDATA[<div class="calculator__res-item calculator__res-outer" style="display:none;">
                            <label>НДФЛ:]]></by>
    </Replacement>

    <Replacement target="all">
      <what>
        <![CDATA[<label>Переплата с<br> учетом инфляции:</label>]]>
      </what>
      <by>
        <![CDATA[<label>
      Сумма итоговой<br/>переплаты:</label>]]>
      </by>
    </Replacement>
    
    <!--<Replacement target="all">--><!--для тарифа максимальный--><!--
      <what><![CDATA[l=[{price:1e4,monthes:{3:15,6:15.7,9:16.55,12:17.55,24:18.5}},{price:1e5,monthes:{3:15.5,6:16.2,9:17.05,12:18.05,24:19}},{price:5e5,monthes:{3:16,6:16.7,9:17.55,12:18.55,24:19.5}},{price:1e6,monthes:{3:16.5,6:17.2,9:18.05,12:19.05,24:19.75}},{price:15e5,monthes:{3:17,6:17.7,9:18.55,12:19.55,24:20}}]]]></what>
      <by><![CDATA[l=[{price:1e4,monthes:{3:24,6:24,9:24,12:24,24:24}},{price:5e5,monthes:{3:30,6:30,9:30,12:30,24:30}}]]]></by>
    </Replacement>
    <Replacement target="all">--><!--для тарифа доходный--><!--
      <what><![CDATA[l=[{price:1e4,monthes:{3:13,6:13.7,9:14.5,12:15.5,24:17}},{price:1e5,monthes:{3:13.5,6:14.2,9:15,12:16,24:17.5}},{price:5e5,monthes:{3:14,6:14.7,9:15.5,12:16.5,24:18}},{price:1e6,monthes:{3:14.5,6:15.2,9:16,12:17,24:18.5}},{price:15e5,monthes:{3:15,6:15.7,9:16.5,12:17.5,24:19}}]]]></what>
      <by><![CDATA[l=[{price:1e4,monthes:{3:24,6:24,9:24,12:24,24:24}},{price:5e5,monthes:{3:30,6:30,9:30,12:30,24:30}}]]]></by>
    </Replacement>-->
    <Replacement target="all">
      <what><![CDATA[<script type="text/javascript" src="/bitrix/cache/js/s1/kapitalinvest/template_7ebff119fa5c44d4849dca31f4995349/template_7ebff119fa5c44d4849dca31f4995349.js?1468590885449297"></script>]]></what>
      <by><![CDATA[<script type="text/javascript" src="/calc.js"></script>]]></by>
    </Replacement>
    
    <!--2-->
    <Replacement target="all">
      <what><![CDATA[<label class="calculator__label h-cell-emulate h-valign-middle">Процентная<br> ставка:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <select data-select name="select-percent" data-init-select="">
                                                                    <option value="5" selected>5%</option>
                                                                    <option value="6" >6%</option>
                                                                    <option value="7" >7%</option>
                                                                    <option value="8" >8%</option>
                                                                    <option value="9" >9%</option>
                                                                    <option value="10" >10%</option>
                                                            </select>
                        </div>]]></what>
      <by><![CDATA[<label class="calculator__label h-cell-emulate h-valign-middle">Процентная<br> ставка:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <select data-select name="select-percent" data-init-select="">
                                                                    <option value="4" selected>4%</option>
                                                            </select>
                        </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__date-select h-table-emulate hidden-xs fix-pad-loan-calc">
                        <label class="calculator__label h-cell-emulate h-valign-middle">Дата начала<br> договора:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <input class="calculator__input-text custom-width-input" data-date data-date-format="dd.mm.yyyy" type="text">
                        </div>
                    </div>]]></what>
      <by><![CDATA[<div class="calculator__date-select h-table-emulate hidden-xs fix-pad-loan-calc" style="display:none;">
                        <label class="calculator__label h-cell-emulate h-valign-middle">Дата начала<br> договора:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <input class="calculator__input-text custom-width-input" data-date data-date-format="dd.mm.yyyy" type="text">
                        </div>
                    </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="additional-block__item-check">
                            <input name="loan-checkbox" id="anticipatorily" value="anticipatorily" type="checkbox">
                            <label class="calculator__label" for="anticipatorily"><i></i> Хочу погасить досрочно</label>
                        </div>]]></what>
      <by><![CDATA[<div class="additional-block__item-check" style="display:none;">
                            <input name="loan-checkbox" id="anticipatorily" value="anticipatorily" type="checkbox">
                            <label class="calculator__label" for="anticipatorily"><i></i> Хочу погасить досрочно2</label>
                        </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer end-pay hidden-xs">
                        <label>Последний<br> платеж:</label>
                        <div>
                            <span data-result-end></span>
                            <i class='icon-rub all-saving-rub'>&#xe800;</i>
                        </div>
                    </div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
        <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>Дата окончания<br> договора:</label>
                        <span data-end></span>
                    </div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
            <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>Переплата с<br> учетом инфляции:</label>
                        <div>
                            <span data-inflation></span>
                            <i class='icon-rub all-saving-rub'>&#xe800;</i>
                        </div>
                    </div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>
    
    <!--3-->  
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__select-variables">
                        <label class="calculator__label hidden-xs">Тариф:</label>
                        <div class="calculator__radio-block h-table-emulate">
                            <div class="h-cell-emulate calculator__grid">
                                <input name="loan-radio" id="max" value="max" type="radio" checked="checked">
                                <label class="calculator__radio-left" for="max"><i class="hidden-sm hidden-md hidden-lg"></i> Максимальный</label>
                            </div>
                            <div class="h-cell-emulate calculator__grid">
                                <input name="loan-radio" value="prof" id="prof" type="radio">
                                <label class="calculator__radio-right" for="prof"><i class="hidden-sm hidden-md hidden-lg"></i> Доходный</label>
                            </div>
                        </div>
                    </div>]]></what>
      <by><![CDATA[<div class="calculator__select-variables" style="display:none;">
                        <label class="calculator__label hidden-xs">Тариф:</label>
                        <div class="calculator__radio-block h-table-emulate">
                            <div class="h-cell-emulate calculator__grid">
                                <input name="loan-radio" id="max" value="max" type="radio" checked="checked">
                                <label class="calculator__radio-left" for="max"><i class="hidden-sm hidden-md hidden-lg"></i> Максимальный</label>
                            </div>
                            <div class="h-cell-emulate calculator__grid">
                                <input name="loan-radio" value="prof" id="prof" type="radio">
                                <label class="calculator__radio-right" for="prof"><i class="hidden-sm hidden-md hidden-lg"></i> Доходный</label>
                            </div>
                        </div>
                    </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__date-select h-table-emulate hidden-xs">
                        <label class="calculator__label h-cell-emulate h-valign-middle">Дата начала<br> договора:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <input class="calculator__input-text custom-width-input" data-date data-date-format="dd.mm.yyyy" type="text">
                        </div>
                    </div>]]></what>
      <by><![CDATA[<div class="calculator__date-select h-table-emulate hidden-xs" style="display:none;">
                        <label class="calculator__label h-cell-emulate h-valign-middle">Дата начала<br> договора:</label>
                        <div class="h-cell-emulate h-valign-middle">
                            <input class="calculator__input-text custom-width-input" data-date data-date-format="dd.mm.yyyy" type="text">
                        </div>
                    </div>]]></by>
    </Replacement>
        <Replacement target="all">
      <what><![CDATA[<div class="additional-block hidden-xs">
                        <div class="additional-block__item-check">
                            <input name="loan-checkbox" id="replacement" value="replacement" type="checkbox">
                            <label class="calculator__label" for="replacement"><i></i> Периодичность пополнения</label>
                        </div>]]></what>
      <by><![CDATA[<div class="additional-block hidden-xs" style="display:none;">
                        <div class="additional-block__item-check">
                            <input name="loan-checkbox" id="replacement" value="replacement" type="checkbox">
                            <label class="calculator__label" for="replacement"><i></i> Периодичность пополнения</label>
                        </div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__text-info">
	<p>
		Процентная ставка от <span>15% до 19,95% годовых;</span>
	</p>
	<p>
		Выплата процентов производится в день окончания срока договора;
	</p>
	<p>
		Минимальная сумма: <span>10 000 рублей;</span>
	</p>
	<p>
		Максимальная сумма: <span>5 000 000 рублей;</span>
	</p>
	<p>
		Возможно пополнение (не менее 5 000 рублей);
	</p>
	<p>
		При досрочном расторжении договора процентная ставка равна <span>6 % годовых.</span>
	</p>
</div>]]></what>
      <by><![CDATA[<div class="calculator__text-info">
	<p>
	При сумме до 500.000 руб. – 2% в мес., при сумме свыше 500.000 руб. – 2,5% в мес.
	</p>
</div>]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[<div class="calculator__text-info">
    <p>Процентная ставка <span>от 13% до 19% годовых;</span></p>
    <p>Выплата процентов по договору производится ежемесячно;</p>
    <p>Минимальная сумма: <span>10 000 рублей;</span></p>
    <p>Максимальная сумма: <span>5 000 000 рублей;</span></p>
    <p>Возможно пополнение (не менее 5 000 рублей);</p>
    <p>При досрочном расторжении договора процентная ставка равна <span>6 % годовых.</span></p>
</div>]]></what>
      <by><![CDATA[<div class="calculator__text-info">
	<p>
	При сумме до 500.000 руб. – 2% в мес., при сумме свыше 500.000 руб. – 2,5% в мес.
	</p>
</div>]]></by>
    </Replacement>
        <Replacement target="all">
      <what><![CDATA[<div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>Дата окончания<br> договора:</label>
                        <span data-end-save></span>
                    </div>
                    <div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>Процентная<br> ставка:</label>
                        <span data-percent></span>
                    </div>
                    <div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>Сумма<br> пополнения:</label>
                        <div>
                            <span data-pay></span>
                            <i class='icon-rub all-saving-rub'>&#xe800;</i>
                        </div>
                    </div>
                    <div class="calculator__res-item calculator__res-outer hidden-xs">
                        <label>НДФЛ: <a class="calculator__quest hidden-xs" href="#savingTextModal" data-toggle="modal">?</a></label>
                        <div>
                            <span data-ndfl></span>
                            <i class='icon-rub all-saving-rub'>&#xe800;</i>
                        </div>
                    </div>]]></what>
      <by><![CDATA[]]></by>
    </Replacement>

    
    
    <Replacement target="all">
      <what><![CDATA[Моисеев Виктор Александрович]]></what>
      <by><![CDATA[Найко Виктор Геннадиевич]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Константинова Н.А.]]></what>
      <by><![CDATA[Порываева Л.Б.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Кораблева Л.Л.]]></what>
      <by><![CDATA[Богданова М.М.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Собко Ольга Александровна]]></what>
      <by><![CDATA[Мазурова Татьяна Алексеевна]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Высокий уровень обслуживания. Вежливые, общительные сотрудники.<br />
Достойный процент по вкладу.<br />
О данной организации остались положительные впечатления.]]></what>
      <by><![CDATA[Высокий уровень обслуживания. Вежливые, общительные сотрудники.<br />
Достойный процент по инвестициям.<br />
О данной организации остались положительные впечатления.]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[… с тех пор являюсь постоянным клиентом, по возможности привлекаю челнов семьи к участию в кооперативе. Знакомые с осторожностью, но тоже стали участниками КИ … Держите марку «Капитал Инвест» и мы все будем жить лучше]]></what>
      <by><![CDATA[Я недавно являюсь клиентом компании «Росзалог». Приятно работать с сотрудниками, всегда вежливо доступно объясняют порядок и правила клиента.<br />
Рад сотрудничеству с Вами! Удачи вам! ]]></by>
    </Replacement>
      

    <!--этот блок последний-->
    <Replacement target="all">
      <what><![CDATA[Звонок по России бесплатный]]></what>
      <by><![CDATA[с 9:00 до 18:00]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[8 800 555 0 555]]></what>
      <by><![CDATA[(8452) 46-30-41]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[tel:8%20800%20555%200%20555]]></what>
      <by><![CDATA[tel:88452463041]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[https://vk.com/club116147382]]></what>
      <by><![CDATA[https://vk.com/roszalog]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[VK.Widgets.Group("vk_groups", {mode: 0, width: "215", height: "241", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 116147382)]]></what>
      <by><![CDATA[VK.Widgets.Group("vk_groups", {mode: 0, width: "215", height: "241", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 88616170)]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[<div class="contacts-text-block__description h-cell-emulate h-valign-top" itemprop="streetAddress">]]></what>
      <by>
        <![CDATA[<div class="contacts-text-block__description h-cell-emulate h-valign-top" itemprop="">
        Саратов, ул. Провиантская, 10
					</div><div class="contacts-text-block__description h-cell-emulate h-valign-top" itemprop="streetAddress" style="display:none !important;">]]></by>
    </Replacement>
    <Replacement target="all">
      <what>
        <![CDATA[
		<div class="contacts-text-block__description h-cell-emulate h-valign-top">]]>
      </what>
      <by>
        <![CDATA[
		<div class="contacts-text-block__description h-cell-emulate h-valign-top">
    Пн-Пт: 9:00-18:00,<br>
Сб:10:00-18:00,<br>
Вс - выходной
					</div><div class="contacts-text-block__description h-cell-emulate h-valign-top" style="display:none !important;">]]>
      </by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[Капитал Инвест]]></what>
      <by><![CDATA[Росзалог]]></by>
    </Replacement>    
    <Replacement target="all">
      <what><![CDATA[омпания КПК]]></what>
      <by><![CDATA[омпания]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[омпании КПК]]></what>
      <by><![CDATA[омпании]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[КПК]]></what>
      <by><![CDATA[Компания]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[редитный потребительский кооператив]]></what>
      <by><![CDATA[омпания]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[ооператива]]></what>
      <by><![CDATA[омпании]]></by>
    </Replacement>
    <Replacement target="all">
      <what><![CDATA[ооперативом]]></what>
      <by><![CDATA[омпанией]]></by>
    </Replacement>
    <Replacement target="all"><what><![CDATA[Вложить сбережения]]></what><by><![CDATA[Инвестировать]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[пайщик]]></what><by><![CDATA[заемщик]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[пайщик]]></what><by><![CDATA[заемщик]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[Пайщик]]></what><by><![CDATA[Заемщик]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[сбережения]]></what><by><![CDATA[инвестиции]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[сбережений]]></what><by><![CDATA[инвестиций]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[сбережениям]]></what><by><![CDATA[инвестициям]]></by></Replacement>
    <Replacement target="all"><what><![CDATA[сбережениях]]></what><by><![CDATA[инвестициях]]></by></Replacement>
        <Replacement target="all"><what><![CDATA[Сбережения]]></what><by><![CDATA[Инвестиции]]></by></Replacement>
        <Replacement target="all"><what><![CDATA[Сбережений]]></what><by><![CDATA[Инвестиций]]></by></Replacement>
        <Replacement target="all"><what><![CDATA[Сбережениям]]></what><by><![CDATA[Инвестициям]]></by></Replacement>
        <Replacement target="all"><what><![CDATA[Сбережениях]]></what><by><![CDATA[Инвестициях]]></by></Replacement>
    
    
  </ReplacementModel>
</Configuration>