<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="/Home/Scripts/jquery-ui_pocket.js"></script>

<div id="dialog" title="Dialog Title">I'm a dialog</div>

<script>
    jQuery_pocket("#dialog").dialog({ autoOpen: true });
</script>

